# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\[G].Data Structure & Algorithm Courses\Github Clones\CSE 218_NUMERICAL METHODS\CSE-218_Numerical-Methods-Python\Week 3\1805004\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
