# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\HISHAM_CSE  ASUS\CSE L-2,T-1\CSE 218\0.Theory+Sessional\Week 4\code\1805004_Week 4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
